<ion-content>
  <ion-grid>
    <ion-row class="row">
      <ion-col size="2">
        <div  class="notification-img" (click)="gotonotifications()">
          <img style="width: 20px; margin-right: 6px;" src="../../assets/icon/notifications.png">
          <div class="notification-span">
            <span class="notification-number">5</span>
           </div>
        </div>

      </ion-col>
      <ion-col size="2">
        <div  class="cart-img" (click)=" gotocart()">
          <img style="margin-top: 2px;
          width: 20px;
          margin-right: 30px;" class="cart-img2" src="../../assets/icon/Cart.png">
          <div style="left: -26px !important;top: 21px;" class="notification-span">
            <span class="notification-number">5</span>
           </div>
        </div>
      </ion-col>

      <ion-col size="8">
        <div class="back-button" (click)="gotohome()">
          <img src="../../assets/icon/back.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <h1 class="title-div">
      طلباتي
    </h1>
  </div>

  <ion-list>
    <ion-item-sliding>
      <ion-item-options side="end" style="direction: ltr;">
        <ion-item-option class="trashbutton" (click)="remove()" color="danger">
          <img class="trash-icon" src="../../assets/icon/delete-sweep.png">
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <img class="fav-img" src="../../assets/icon/product image.jpg">
        <ion-label class="label-class">
          <p>صناعة حلوة التشورو</p>
          <h3 class="price">111 ر.س</h3>
          <p style="margin-top: 10px;">14/4/2020</p>
          <h3 style="color:limegreen" class="status">تم التسليم</h3>

        </ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="end" style="direction: ltr;">
        <ion-item-option class="trashbutton" (click)="remove()" color="danger">
          <img class="trash-icon" src="../../assets/icon/delete-sweep.png">
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <img class="fav-img" src="../../assets/icon/product image.jpg">
        <ion-label class="label-class">
          <p>صناعة حلوة التشورو</p>
          <h3 class="price">111 ر.س</h3>
          <p style="margin-top: 10px;">14/4/2020</p>
          <h3 style="color:limegreen" class="status">تم التسليم</h3>

        </ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="end" style="direction: ltr;">
        <ion-item-option class="trashbutton" (click)="remove()" color="danger">
          <img class="trash-icon" src="../../assets/icon/delete-sweep.png">
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <img class="fav-img" src="../../assets/icon/product image.jpg">
        <ion-label class="label-class">
          <p>صناعة حلوة التشورو</p>
          <h3 class="price">111 ر.س</h3>
          <p style="margin-top: 10px;">14/4/2020</p>
          <h3 style="color:limegreen" class="status">تم التسليم</h3>

        </ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="end" style="direction: ltr;">
        <ion-item-option class="trashbutton" (click)="remove()" color="danger">
          <img class="trash-icon" src="../../assets/icon/delete-sweep.png">
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <img class="fav-img" src="../../assets/icon/product image.jpg">
        <ion-label class="label-class">
          <p>صناعة حلوة التشورو</p>
          <h3 class="price">111 ر.س</h3>
          <p style="margin-top: 10px;">14/4/2020</p>
          <h3 style="color:limegreen" class="status">تم التسليم</h3>

        </ion-label>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="end" style="direction: ltr;">
        <ion-item-option class="trashbutton" (click)="remove()" color="danger">
          <img class="trash-icon" src="../../assets/icon/delete-sweep.png">
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <img class="fav-img" src="../../assets/icon/product image.jpg">
        <ion-label class="label-class">
          <p>صناعة حلوة التشورو</p>
          <h3 class="price">111 ر.س</h3>
          <p style="margin-top: 10px;">14/4/2020</p>
          <h3 style="color:limegreen" class="status">تم التسليم</h3>

        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>