<ion-content>
  <ion-grid>
    <ion-row class="row">
      <ion-col size="2">
        <div id="notification-button" class="notification-img" (click)="gotonotifications()">
          <img src="../../assets/icon/notifications.png">
          <ion-badge id="notifications-badge" color="danger">6</ion-badge>

        </div>
      </ion-col>
      <ion-col size="2">
        <div id="notification-button" class="cart-img" (click)=" gotocart()">
          <img src="../../assets/icon/Cart.png">
          <ion-badge id="notifications-cart-badge" color="danger">6</ion-badge>
        </div>
      </ion-col>

      <ion-col size="8">
        <div class="back-button" (click)="gotohome()">
          <img src="../../assets/icon/back.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <h1 class="title-div">
      طلباتي
    </h1>
  </div>

  <ion-list>
    <ion-item>
      <img class="fav-img" src="../../assets/icon/product image.jpg">
      <ion-label class="label-class">
        <p>صناعة حلوة التشورو</p>
        <h3 class="price">111 ر.س</h3>
        <p style="margin-top: 10px;">14/4/2020</p>
        <h3 style="color:limegreen" class="status">تم التسليم</h3>

      </ion-label>
    </ion-item>

    <ion-item>
      <img class="fav-img" src="../../assets/icon/product image.jpg">
      <ion-label class="label-class">
        <p>صناعة حلوة التشورو</p>
        <h3 class="price">111 ر.س</h3>
        <p style="margin-top: 10px;">14/4/2020</p>
        <h3 style="color:red" class="status">تم الرفض</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <img class="fav-img" src="../../assets/icon/product image.jpg">
      <ion-label class="label-class">
        <p>صناعة حلوة التشورو</p>
        <h3 class="price">111 ر.س</h3>
        <p style="margin-top: 10px;">14/4/2020</p>
        <h3 style="color:limegreen" class="status">تم التسليم</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <img class="fav-img" src="../../assets/icon/product image.jpg">
      <ion-label class="label-class">
        <p>صناعة حلوة التشورو</p>
        <h3 class="price">111 ر.س</h3>
        <p style="margin-top: 10px;">14/4/2020</p>
        <h3 style="color:limegreen" class="status">تم التسليم</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>