<ion-content [fullscreen]="true">
  <div>
    <h5 class="h5">القائمة</h5>
  </div>
  <ion-grid>
    <ion-row class="row-menu">
      <ion-col size="6" (click)="gotoaboutus()">
        <div>
          <img src="../../assets/icon/about.png">
        </div>
        <div>
          <h5 class="h5-1">حول التطبيق</h5>
        </div>
      </ion-col>

      <ion-col size="6" (click)="gotoprivacy()">
        <div>
          <img src="../../assets/icon/terms.png">
        </div>
        <div>
          <h5 class="h5-1">سياسة الخصوصية</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-menu">
      <ion-col size="6">
        <div>
          <img src="../../assets/icon/shrot.png">
        </div>
        <div>
          <h5 class="h5-1">الشروط و الأحكام</h5>
        </div>
      </ion-col>

      <ion-col size="6">
        <div>
          <img src="../../assets/icon/rate.png">
        </div>
        <div>
          <h5 class="h5-1">قيم التطبيق</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-menu">
      <ion-col size="6">
        <div>
          <img src="../../assets/icon/share.png">
        </div>
        <div>
          <h5 class="h5-1">شارك التطبيق</h5>
        </div>
      </ion-col>

      <ion-col size="6" (click)="gotofavoraits()">
        <div>
          <img src="../../assets/icon/feather-heart.png">
        </div>
        <div>
          <h5 class="h5-1">المفضلة</h5>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="row-menu">
      <ion-col size="6" (click)="goto_orders()">
        <div>
          <img src="../../assets/icon/orders.png">
        </div>
        <div>
          <h5 class="h5-1">طلباتي</h5>
        </div>
      </ion-col>

      <ion-col size="6" (click)="gotoprofile()">
        <div>
          <img src="../../assets/icon/profile.png">
        </div>
        <div>
          <h5 class="h5-1">حسابي</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="close" (click)="gotohome()">
        <img src="../../assets/icon/close.png" />
      </div>
    </ion-row>
  </ion-grid>
</ion-content>