ion-content{
    --ion-background-color:#c13a3a;
}

.row-menu{
    // border:1px dotted white;
    margin-bottom: 2%;
}

ion-grid{
    text-align: center;
    margin-top: 10%;
}

.h5{
    color:#fff; 
    font-weight: bolder;
    font-size:large;
    text-align: center;
}

.h5-1
{
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}