*{
    direction: rtl;
}

ion-content{
    --ion-background-color:#d3d3d340;
}

.row-menu{
    // border:1px dotted white;
    margin-bottom: 2%;
}

ion-grid{
    text-align: center;
    margin-top: 10%;
}

.h5{
    color:#000; 
    font-weight: bolder;
    font-size:large;
    text-align: center;
}

.img-header{
    width:75%;
}

.h5-header{
    font-size: 33px;
    margin-right: 12px;
    margin-top: 37px;
}
.h5-1
{
    color:#000; 
    font-weight: bolder;
    font-size: 18px;
}

.close{
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px;
}

img{
    width : 45%;
}

#notification-button {            
    position: relative;
    width: 50px;
    top: 1px;
    right: 1px;
    overflow: visible !important;
  }


#notifications-badge {
    background-color: red;
    position: absolute;
    top: 25px;
    right: -3px;
    border-radius: 50%;
    margin-right: 30px;
}