<ion-content [fullscreen]="true">
  <div class="first-div-header">
    <div class="second-div-header" (click)="gotocart()">
      <img src="../../assets/icon/Cart-1.png">
    </div>
    <div class="notification-header" (click)="gotonotification()">
      <img src="../../assets/icon/notifications.png">
    </div>
  </div>

  <div class="logo-header">
    <div class="logo-header-img">
      <img src="../../assets/icon/logo.png" height="100px;" class="logo-img">
    </div>
  </div>

  <!-- here is the section for categories-->
  <div>
    <h5 class="title">
      الأقسام
    </h5>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div>
          <img src="../../assets/icon/apparel.png">
        </div>
        <div class="caption-class">
          ملابس
        </div>
      </ion-col>

      <ion-col size="3">
        <div>
          <img src="../../assets/icon/shoes.png">
        </div>
        <div class="caption-class">
          أحذية
        </div>
      </ion-col>

      <ion-col size="3">
        <div>
          <img src="../../assets/icon/beauty.png">
        </div>
        <div class="caption-class">
          مكياج
        </div>
      </ion-col>

      <ion-col size="3" (click)="gotocategories()">
        <div>
          <img src="../../assets/icon/see all.png">
        </div>
        <div class="caption-class">
          الكل
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- here is the slider of the newest added-->
  <div>
    <h5 class="title">
      المضاف حديثاً
    </h5>
  </div>
  <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2
    (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
    <ion-slide>
      <div>
        <img src="../../assets/icon/Banner 1.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/icon/Banner 1.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/icon/Banner 1.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/icon/Banner 1.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/icon/Banner 1.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="../../assets/icon/Banner 1.png">
      </div>
    </ion-slide>
  </ion-slides>

  <!-- here is the products section-->

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="card-style">
          <div>
            <img src="../../assets/icon/cart_w.png">
          </div>
          <img src="../../assets/icon/product image.jpg" />
          <ion-card-content>
            <h6>تشينتشي</h6>
            <h6>
              dakjdkjaj
            </h6>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>