.img-class
{
    margin-right: 57px;
    margin-left: 57px;
}

.first-div-header{
    position: absolute;top:0; width: 100%;display: flex; justify-content: space-between;
}

.second-div-header{
    padding: 10px !important;position: relative;
}

.notification-header{
    padding: 10px !important;
}

.logo-header{
    height:80px;
}

.logo-header-img{
    padding-top:5px !important;height:85%;color:white;text-align:center;
}

.logo-img{
    margin-top: -1% !important;
      width: 56%;
      height: 103%;
}

.caption-class{
    text-align: center;
}

.title{
    margin-right: 17px;
    font-size: 37px;
    font-weight: bolder;
}

.bottom-section
{
    background-color: linear-gradient(red, yellow);
}

.card-style{
    width: 110px;
    margin-top: -10px;
    border-radius: 15px;
}