*{
    direction: rtl;
}

.row{
    direction: ltr;
    margin-top: 10px;
}
.back-button{
    margin-left:93%;
}

.h5{
    margin-right: 11px;
    font-size: 40px;
    font-weight: bolder;
}

ion-content{
    --ion-background-color: #d3d3d340;
    ion-list{
        --ion-background-color: #f4f4f4;
    }
    ion-item{
        --ion-background-color: #f4f4f4;
    }
}

.fav-img{
    border-radius: 50%;
    width: 30%;
}

.label-class{
    margin-right: 29px;
}

h3{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

p{
    font-size: 18px;    
}

.fav-icon
{
    margin-top: 10px;
}

#notification-button {            
    position: relative;
    width: 50px;
    top: 1px;
    right: 1px;
    overflow: visible !important;
  }


#notifications-badge {
    background-color: red;
    position: absolute;
    top: 25px;
    right: -3px;
    border-radius: 50%;
    margin-right: 20px;
}

#notifications-cart-badge {
    background-color: red;
    position: absolute;
    top: 25px;
    right: -3px;
    border-radius: 50%;
    margin-right: 13px;
}