<ion-content [fullscreen]="false">
  <!-- here is the header-->
  <div class="first-div-header">
    <div class="second-div-header" (click)="gotohome()">
      <img src="../../assets/icon/back.png">
    </div>
    <div class="notification-header" (click)="gotocart()">
      <img src="../../assets/icon/Cart-1.png">
    </div>
  </div>

  <!-- here is the logo-->
  <img class="img" src="../../assets/icon/logo.png">

  <div>
    <h5 class="aboutus">
      سياسة الخصوصية
    </h5>
  </div>
  <div>
    <p class="par">
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد
      هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
    </p>
  </div>

  <div>
    <p class="par">
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد
      هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
      هذا نص تجريبي يتم تغييره من لوحة التحكم فيما بعد يعد هذا النص
    </p>
  </div>
</ion-content>