<ion-content [fullscreen]="true">
    <!-- here is the logo of the application-->
    <ion-grid>
      <ion-row class="row">
        <ion-col size="2">
          <div>
            <img src="../../assets/icon/notifications.png">
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="../../assets/icon/Cart.png">
          </div>
        </ion-col>
  
        <ion-col size="8">
          <div class="back-button">
            <img src="../../assets/icon/back.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <!-- here is the title of the screen-->
        <div>
          <h1>
            حسابي
          </h1>
        </div>
      </ion-row>
    </ion-grid>
  
    <!-- here is the input fields for the login-->
    <form class="form" [formGroup]="profileform">
      <ion-row>
        <div class="phone-passwordlabel">
          الإسم
        </div>
        <ion-item color="light" class="mobile-item" lines="none">
          <ion-input placeholder="الإسم" formControlName="name" class="input-class" type="text"></ion-input>
        </ion-item>
      </ion-row>
  
      <ion-row>
        <div class="phone-passwordlabel">
          رقم الجوال
        </div>
        <ion-item color="light" class="password-item" lines="none">
          <ion-input placeholder="رقم الجوال" formControlName="mobile" class="input-class" type="number">
          </ion-input>
        </ion-item>
      </ion-row>
  
      <ion-row>
        <div class="phone-passwordlabel">
          العنوان
        </div>
        <ion-item color="light" class="password-item" lines="none">
          <ion-input placeholder="العنوان" class="input-class" formControlName="address" type="text">
          </ion-input>
        </ion-item>
      </ion-row>
  
      <ion-row>
        <div class="phone-passwordlabel">
          كلمة المرور
        </div>
        <ion-item color="light" class="password-item" lines="none">
          <ion-input placeholder="كلمة المرور" class="input-class" type="password" formControlName="password">
          </ion-input>
        </ion-item>
      </ion-row>
  
  
      <!-- here is the button of the login-->
      <ion-row>
        <div class="login-button-class">
          <ion-button [disabled]="!profileform.valid" class="login-button" shape="round" color="danger">تحديث</ion-button>
        </div>
      </ion-row>
    </form>
  
  </ion-content>